@using HIMS_Web.Models.Masters;
@{
    ViewBag.Title = "IpdDashboard";

    Layout = "~/Views/Shared/_LayoutIpd.cshtml";
    var dashboardData = ViewData["PageData"] as DashboardDataModel;
    var AreaData = ViewData["IPDData"] as List<IpdPatientInfoModel>;
}
<link href="~/css/style.css" rel="stylesheet" />
@*<link rel="stylesheet" href="~/styles/table_form.css">*@
<link href="~/Content/c3.css" rel="stylesheet" />
<script src="~/Scripts/c3.js"></script>
<script src="~/Scripts/d3.js"></script>
<script src="~/Scripts/App/HIMS/IPDDashboard.js"></script>
<div class="main-container inner">
    <!-- start: PAGE -->
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="space30" style="text-align:center; padding-top:10px;padding-bottom:10px">
                    <h3 style="font-size:26px;"><strong>IPD Summary</strong></h3>
                    @*<ul class="breadcrumb">
                            <li><a href="~/Admin/IpdDashboard">Home</a></li>
                            <li><a href="~/Admin/IPDEntry">IPD Entry Form 1</a></li>
                            <li><a href="~/Admin/IPDPatientStatus">IPD Entry Form 2</a></li>
                            <li><a href="~/Admin/IPDList">IPD List</a></li>
                        </ul>*@
                </div>
            </div>
            <!-- end: BREADCRUMB -->
            <div id="page-wrapper">
                <div class="main-page">
                    <div class="col_3">
                        <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                                <i class="pull-left fa fa-user-md icon-rounded"></i>
                                <div class="stats">
                                    <h5><strong>@dashboardData.PatientTreated</strong></h5>
                                    <span>Patient Treated</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                                <i class="pull-left fa fa-stethoscope dollar1 icon-rounded"></i>
                                <div class="stats">
                                    <h5><strong>@dashboardData.AdmitPatient</strong></h5>
                                    <span>Admit Patient</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                                <i class="pull-left fa fa-ambulance dollar2 icon-rounded"></i>
                                <div class="stats">
                                    <h5><strong>@dashboardData.DischargePatient</strong></h5>
                                    <span>Discharge Patient</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                                <i class="pull-left fa fa-heartbeat user1 icon-rounded"></i>
                                <div class="stats">
                                    <h5><strong>@dashboardData.Refer</strong></h5>
                                    <span>Refer Patient</span>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-3 widget widget1">
                                <div class="r3_counter_box">
                                    <i class="pull-left fa fa-heartbeat user2 icon-rounded"></i>
                                    <div class="stats">
                                        <h5><strong>@dashboardData.Abscond</strong></h5>
                                        <span>Abscond</span>
                                    </div>
                                </div>
                            </div>*@
                        <div class="clearfix"> </div>
                    </div>

                    <div class="row-one widgettable">
                        <div class="col-md-9 content-top-2 card">
                            <div class="agileinfo-cdr">
                                <div class="card-header">
                                    <h3>
                                        Weekly Patient Status
                                        (
                                        <span id="spanLastDayOfWeek">
                                        </span> -
                                        <span id="spanCurrentDayOfWeek">
                                        </span>
                                        )
                                        <span style="margin-left: 30%; color: red;cursor:pointer;" id="spanPreviousChart"><i class="fa fa-angle-double-left"></i></span>
                                        <span style=" margin-left: 8%; color: red; cursor: pointer;" id="spanNextChart"><i class="fa fa-angle-double-right"></i></span>
                                    </h3>
                                    <hr />
                                </div>

                                <div id="Linegraph" style="width: 96%; height: 320px">
                                    <div id="Barchart"></div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3 stat" style=" width: 24% !important;">
                            <div class="content-top-1">
                                <div class="col-md-3 widget widget1">
                                    <div class="r3_counter_box" style="width:150px;">
                                        <i class="pull-left fa fa-user-md user1 icon-rounded" style="background-color: #f35501 "></i>
                                        <div class="stats">
                                            <h5><strong>@dashboardData.Abscond</strong></h5>
                                            <span>Abscond</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="content-top-1">
                                <div class="col-md-3 widget widget1">
                                    <div class="r3_counter_box" style="width:150px;">
                                        <i class="pull-left fa fa-stethoscope user1 icon-rounded"></i>
                                        <div class="stats">
                                            <h5><strong>@dashboardData.LAMA</strong></h5>
                                            <span>LAMA</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="content-top-1">
                                <div class="col-md-3 widget widget1">
                                    <div class="r3_counter_box" style="width:150px;">
                                        <i class="pull-left fa fa-ambulance user1 icon-rounded"></i>
                                        <div class="stats">
                                            <h5><strong>@dashboardData.DOPR</strong></h5>
                                            <span>DOPR</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <!--<div class="col-md-2 stat">
                            <div class="content-top">
                                <div class="top-content facebook">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </div>
                                <ul class="info">
                                    <li class="col-md-6"><b>1,296</b><p>Friends</p></li>
                                    <li class="col-md-6"><b>647</b><p>Likes</p></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                            <div class="content-top">
                                <div class="top-content twitter">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                                <ul class="info">
                                    <li class="col-md-6"><b>1,997</b><p>Followers</p></li>
                                    <li class="col-md-6"><b>389</b><p>Tweets</p></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                            <div class="content-top">
                                <div class="top-content google-plus">
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                                <ul class="info">
                                    <li class="col-md-6"><b>1,216</b><p>Followers</p></li>
                                    <li class="col-md-6"><b>321</b><p>shares</p></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div> -->
                        <div class="clearfix"> </div>
                    </div>
                    <div class="table-responsive bs-example widget-shadow cust-table">
                        <h3 style="font-size:16px;"><strong>Taday's Patient Details</strong></h3>
                        <hr />
                        <table id="example" class="table table-bordered">
                            <thead>
                                <tr class="cust-filter">
                                    <th class="text-center">Patient Id</th>
                                    <th class="text-center">Ipd No</th>
                                    <th class="text-center">Patient Name</th>
                                    <th class="text-center">Father / HusbandName</th>
                                    <th class="text-center">Mobile Number</th>
                                    <th class="text-center">Age</th>
                                    <th class="text-center">Gender</th>
                                    <th class="text-center">ID Proof Type</th>
                                    <th class="text-center">ID Proof Number</th>
                                    <th class="text-center">Admitted Date & Time</th>
                                    <th class="text-center">Address</th>
                                    <th class="text-center">IPD Status</th>
                                    <th class="text-center">Area</th>
                                    <th class="text-center">Department</th>
                                    <th class="text-center">Treatment</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var data in AreaData)
                                {
                                    <tr>
                                        <td class="text-left">RCH-@data.PatientId</td>
                                        <td class="text-center">@data.IpdNo</td>
                                        <td class="text-left">@data.PatientName</td>
                                        <td class="text-center">@data.FatherOrHusbandName</td>
                                        <td class="text-left">@data.MobileNumber</td>
                                        <td class="text-center">@data.Age</td>
                                        <td class="text-left">@data.Gender</td>
                                        <td class="text-center">@data.IDorAadharNumber</td>
                                        <td class="text-left">@data.IDNumber</td>
                                        <td class="text-center">@data.AdmittedDateTime</td>
                                        <td class="text-left">@data.Address</td>
                                        <td class="text-left">@data.IPDStatus</td>
                                        <td class="text-center">@data.AreaName</td>
                                        <td class="text-center">@data.DepartmentName</td>
                                        <td class="text-center">@data.TreatmentName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: PAGE -->
</div>

<script type="text/javascript">
    $('.homer').removeClass('homer');
    $('#Home').addClass('homer');
</script>