@using HIMS_Web.Models.Masters;
@{
    ViewBag.Title = "IpdDashboard";

    Layout = "~/Views/Shared/_LayoutIpd.cshtml";
    var dashboardData = ViewData["PageData"] as DashboardDataModel;
}
<link href="~/css/style.css" rel="stylesheet" /><div class="main-container inner">
    <!-- start: PAGE -->
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="space30" style="text-align:center; padding-top:10px;padding-bottom:10px">
                    <h3 style="font-size:26px;"><strong>IPD Summary</strong></h3>
                    @*<ul class="breadcrumb">
                            <li><a href="~/Admin/IpdDashboard">Home</a></li>
                            <li><a href="~/Admin/IPDEntry">IPD Entry Form 1</a></li>
                            <li><a href="~/Admin/IPDPatientStatus">IPD Entry Form 2</a></li>
                            <li><a href="~/Admin/IPDList">IPD List</a></li>
                        </ul>*@
                </div>
            </div>
            <!-- end: BREADCRUMB -->
            <div id="page-wrapper">
                <div class="main-page">
                    <div class="col_3">
                        <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                                <i class="pull-left fa fa-user-md icon-rounded"></i>
                                <div class="stats">
                                    <h5><strong>@dashboardData.PatientTreated</strong></h5>
                                    <span>Patient Treated</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                                <i class="pull-left fa fa-stethoscope dollar1 icon-rounded"></i>
                                <div class="stats">
                                    <h5><strong>@dashboardData.AdmitPatient</strong></h5>
                                    <span>Admit Patient</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 widget">
                            <div class="r3_counter_box">
                                <i class="pull-left fa fa-ambulance dollar2 icon-rounded"></i>
                                <div class="stats">
                                    <h5><strong>@dashboardData.DischargePatient</strong></h5>
                                    <span>Discharge Patient</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                                <i class="pull-left fa fa-ambulance user1 icon-rounded"></i>
                                <div class="stats">
                                    <h5><strong>@dashboardData.Refer</strong></h5>
                                    <span>Refer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                                <i class="pull-left fa fa-heartbeat user2 icon-rounded"></i>
                                <div class="stats">
                                    <h5><strong>@dashboardData.Abscond</strong></h5>
                                    <span>Abscond</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="row-one widgettable">
                        <div class="col-md-9 content-top-2 card">
                            <div class="agileinfo-cdr">
                                <div class="card-header">
                                    <h3>Weekly Patient Status</h3>
                                </div>

                                <div id="Linegraph" style="width: 98%; height: 180px">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3 stat">
                            <div class="content-top-1">
                                <div class="col-md-3 widget widget1">
                                    <div class="r3_counter_box" style="width:150px;">
                                        <i class="pull-left fa fa-ambulance user1 icon-rounded"></i>
                                        <div class="stats">
                                            <h5><strong>@dashboardData.LAMA</strong></h5>
                                            <span>LAMA</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="content-top-1">
                                <div class="col-md-3 widget widget1">
                                    <div class="r3_counter_box" style="width:150px;">
                                        <i class="pull-left fa fa-ambulance user1 icon-rounded"></i>
                                        <div class="stats">
                                            <h5><strong>@dashboardData.DOPR</strong></h5>
                                            <span>DOPR</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="content-top-1">
                                <div class="col-md-3 widget widget1">
                                    <div class="r3_counter_box" style="width:150px;">
                                        <i class="pull-left fa fa-ambulance user1 icon-rounded"></i>
                                        <div class="stats">
                                            <h5><strong>@dashboardData.Death</strong></h5>
                                            <span>Death</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="content-top-1">
                                <div class="col-md-3 widget widget1">
                                    <div class="r3_counter_box" style="width:150px;">
                                        <i class="pull-left fa fa-ambulance user1 icon-rounded"></i>
                                        <div class="stats">
                                            <h5><strong>@dashboardData.Other</strong></h5>
                                            <span>Other</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            @*<div class="content-top-1">
            <div class="col-md-6 top-content">
                <h5>Visitors</h5>
                <label>12589+</label>
            </div>
            <div class="col-md-6 top-content1">
                <div id="demo-pie-3" class="pie-title-center" data-percent="90"> <span class="pie-value"></span> </div>
            </div>
            <div class="clearfix"> </div>
        </div>*@
                        </div>
                        <!--	<div class="col-md-2 stat">
                            <div class="content-top">
                                <div class="top-content facebook">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </div>
                                <ul class="info">
                                    <li class="col-md-6"><b>1,296</b><p>Friends</p></li>
                                    <li class="col-md-6"><b>647</b><p>Likes</p></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                            <div class="content-top">
                                <div class="top-content twitter">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                                <ul class="info">
                                    <li class="col-md-6"><b>1,997</b><p>Followers</p></li>
                                    <li class="col-md-6"><b>389</b><p>Tweets</p></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                            <div class="content-top">
                                <div class="top-content google-plus">
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                                <ul class="info">
                                    <li class="col-md-6"><b>1,216</b><p>Followers</p></li>
                                    <li class="col-md-6"><b>321</b><p>shares</p></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div> -->
                        <div class="clearfix"> </div>
                    </div>
                    <div class="table-responsive bs-example widget-shadow cust-table">
                        <table id="example" class="table table-bordered">
                            <thead>
                                <tr class="cust-filter">
                                    <th> <input type="checkbox" name="check"></th>
                                    <th>Assest Code <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></th>
                                    <th>Serial No. <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></th>
                                    <th>Assest Name <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></th>
                                    <th>Category <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></th>
                                    <th>Assest Location <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></th>
                                    <th>Status <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></th>
                                    <th>Transferred to <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></th>
                                    <th>Allotted Upto <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></th>
                                    <th>Department <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></th>
                                    <th>Condition <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></th>
                                    <th>Brand <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"><input type="checkbox" name="check"></th>
                                    <td>AST202014663</td>
                                    <td>AST202014664</td>
                                    <td>AST202014665</td>
                                    <td>AST202014662</td>
                                    <td>AST202014666</td>
                                    <td>AST202014667</td>
                                    <td>AST202014668</td>
                                    <td>AST202014660</td>
                                    <td>AST202014661</td>
                                    <td>AST202014663</td>
                                    <td>AST202014669</td>
                                </tr>
                                <tr>
                                    <th scope="row"><input type="checkbox" name="check"></th>
                                    <td>AST202014662</td>
                                    <td>AST202014663</td>
                                    <td>AST202014669</td>
                                    <td>AST202014660</td>
                                    <td>AST202014665</td>
                                    <td>AST202014666</td>
                                    <td>AST202014668</td>
                                    <td>AST202014660</td>
                                    <td>AST202014661</td>
                                    <td>AST202014663</td>
                                    <td>AST202014669</td>
                                </tr>
                                <tr>
                                    <th scope="row"><input type="checkbox" name="check"></th>
                                    <td>AST202014661</td>
                                    <td>AST202014662</td>
                                    <td>AST202014663</td>
                                    <td>AST202014664</td>
                                    <td>AST202014668</td>
                                    <td>AST202014669</td>
                                    <td>AST202014660</td>
                                    <td>AST202014661</td>
                                    <td>AST202014661</td>
                                    <td>AST202014660</td>
                                    <td>AST202014668</td>
                                </tr>
                                <tr>
                                    <th scope="row"><input type="checkbox" name="check"></th>
                                    <td>AST202014666</td>
                                    <td>AST202014667</td>
                                    <td>AST202014668</td>
                                    <td>AST202014669</td>
                                    <td>AST202014664</td>
                                    <td>AST202014663</td>
                                    <td>AST202014662</td>
                                    <td>AST202014661</td>
                                    <td>AST202014669</td>
                                    <td>AST202014660</td>
                                    <td>AST202014661</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @*<div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-white">
                            <div class="panel-body">
                                <div class="col-md-4">
                                    <a href="~/Admin/IPDEntry">
                                        <div class="panel panel-dark" style="padding:15px 20px 15px 20px">
                                            <h3 style="text-align:center">
                                                IPD Entry Form
                                            </h3>
                                            <img src="../img/blink.gif" style="width:74px;float:right;margin-top:-74px;" alt="" />
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="~/Admin/AddArea">
                                        <div class="panel panel-green" style="padding:15px 20px 15px 20px">
                                            <h3 style="text-align:center">Area Master Form </h3>
                                            <img src="../img/blink.gif" style="width:74px;float:right;margin-top:-74px;" alt="" />
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="~/Admin/IPDList">
                                        <div class="panel panel-orange" style="padding:15px 20px 15px 20px">
                                            <h3 style="text-align:center"> IPD Patient List </h3>
                                            <img src="../img/blink.gif" style="width:74px;float:right;margin-top:-74px;" alt="" />
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="~/Admin/IpdPatientStatus">
                                        <div class="panel panel-orange" style="padding:15px 20px 15px 20px">
                                            <h3 style="text-align:center"> IPD Status & Lab Report </h3>
                                            <img src="../img/blink.gif" style="width:74px;float:right;margin-top:-74px;" alt="" />
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-yellow" style="padding:15px 20px 15px 20px">

                                        <h3 style="text-align:center"> Doctor </h3>

                                        <p>


                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-dark" style="padding:15px 20px 15px 20px">

                                        <h3 style="text-align:center"> RadioDiagnosis </h3>

                                        <p>


                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-green" style="padding:15px 20px 15px 20px">

                                        <h3 style="text-align:center"> Patient Status </h3>

                                        <p>


                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-orange" style="padding:15px 20px 15px 20px">

                                        <h3 style="text-align:center"> Complaint </h3>

                                        <p>


                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-azure" style="padding:15px 20px 15px 20px">

                                        <h3 style="text-align:center"> OPD Details </h3>

                                        <p>
                                            <a id="" class="btn btn-light-yellow">View Advetisement</a>

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>*@


        </div>

    </div>
    <!-- end: PAGE -->
</div>
<style type="text/css">
    .panel {
        background-color: #FFFFFF;
        -webkit-box-shadow: 0 1px 2px #c3c3c3;
        -moz-box-shadow: 0 1px 2px #c3c3c3;
        box-shadow: 0 1px 2px #c3c3c3;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: #8b91a0;
        border: none;
        padding: 25px;
        position: relative;
    }

    .panel-dark, .partition-dark {
        background-color: #f0c180;
        position: relative;
        background-color: #373b4a 0px;
        color: white;
        background-image: linear-gradient(top, #373b4a 0px, #2c2f3b 100%);
    }

    .panel-white, .partition-white {
        background-color: white;
        position: relative;
        color: #8b91a0;
    }

    .panel-green, .partition-green {
        background-color: #1fbba6;
        position: relative;
        background-color: #23d1b9 0px;
        color: white;
        background-image: linear-gradient(top, #23d1b9 0px, #1fbba6 100%);
    }

    .panel-orange, .partition-orange {
        background-color: #f58a5c;
        position: relative;
        background-color: #f69b74 0px;
        color: white;
        background-image: linear-gradient(top, #f69b74 0px, #f58a5c 100%);
    }

    .panel-azure, .partition-azure {
        background-color: #00bdcc;
        position: relative;
        background-color: #00d5e6 0px;
        color: white;
        background-image: linear-gradient(top, #00d5e6 0px, #00bdcc 100%);
    }

    .panel-yellow, .partition-yellow {
        background-color: #ffb848;
        position: relative;
        background-color: #ffc261 0px;
        color: white;
        background-image: linear-gradient(top, #ffc261 0px, #ffb848 100%);
    }
</style>



<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav li.active').removeClass('active');
        $('[href="/Admin/Dashboard"]').parent().addClass('active')
    });
</script>




