@using HIMS_Web.Models.Masters;
@{
    Layout = "~/Views/Shared/_LayoutIpd.cshtml";
    ViewBag.Title = "IPD List";
    var AreaData = ViewData["PageData"] as List<IpdPatientInfoModel>;
    int index = 1;
}

<link rel="stylesheet" href="~/styles/table_form.css">
<script src="~/Scripts/App/Masters/navigation.js"></script>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
            <ul class="breadcrumb">
                <li><a href="~/Admin/IpdDashboard">Home</a></li>
                <li><a href="~/Admin/IPDEntry">IPD Entry Form 1</a></li>
                <li><a href="~/Admin/IPDPatientStatus">IPD Entry Form 2</a></li>
                <li><a href="~/Admin/IPDList">IPD List</a></li>
            </ul>
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <h3 style="font-size:20px;"><strong>IPD Patient Detail</strong></h3>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        @using (Html.BeginForm("ExportIPDList", "Admin", FormMethod.Post))
                        {
                            <input type="hidden" name="GridHtml" />
                            <input type="submit" id="btnSubmit" class="btn btn-primary" value="Export to Excel" style=" float: right; position: relative; padding-left:2em" />
                        }
                        <a href="~/Admin/IPDEntry" class="btn btn-primary pull-right">Add New IPD Patient</a>
                    </div>
                </div><hr />
            </div>
            <div class="col-sm-12 col-xs-12" style="padding: 0px;">
                <div class="table-responsive" id="divExport" style=" padding: 10px 0 10px 0; overflow-x: scroll; width: 1200px; height: 440px;">
                    <table class="table table_css_main_cl table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-center">Patient Id</th>
                                <th class="text-center">Ipd No</th>
                                <th class="text-center">Patient Name</th>
                                <th class="text-center">Father / HusbandName</th>
                                <th class="text-center">Mobile Number</th>
                                <th class="text-center">Age</th>
                                <th class="text-center">Gender</th>
                                <th class="text-center">ID Proof Type</th>
                                <th class="text-center">ID Proof Number</th>
                                <th class="text-center">Admitted Date & Time</th>
                                <th class="text-center">Address</th>
                                <th class="text-center">IPD Status</th>
                                <th class="text-center">Area</th>
                                <th class="text-center">Department</th>
                                <th class="text-center">Treatment</th>
                                <th class="text-center">Malaria Parasite</th>
                                <th class="text-center">Rapid Kit NS1</th>
                                <th class="text-center">Rapid Kit IgM</th>
                                <th class="text-center">ELISA NS1</th>
                                <th class="text-center">ELISA IgM</th>
                                <th class="text-center">ELISA Scrub Typhus</th>
                                <th class="text-center">ELISA Leptospira</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody style="height:440px;overflow-y:auto">
                            @foreach (var data in AreaData)
                            {
                            <tr>
                                <td class="text-left">@index</td>
                                <td class="text-left">RCH-@data.PatientId</td>
                                <td class="text-center">@data.IpdNo</td>
                                <td class="text-left">@data.PatientName</td>
                                <td class="text-center">@data.FatherOrHusbandName</td>
                                <td class="text-left">@data.MobileNumber</td>
                                <td class="text-center">@data.Age</td>
                                <td class="text-left">@data.Gender</td>
                                <td class="text-center">@data.IDorAadharNumber</td>
                                <td class="text-left">@data.IDNumber</td>
                                <td class="text-center">@data.AdmittedDateTime</td>
                                <td class="text-left">@data.Address</td>
                                <td class="text-left">@data.IPDStatus</td>
                                <td class="text-center">@data.AreaName</td>
                                <td class="text-center">@data.DepartmentName</td>
                                <td class="text-center">@data.TreatmentName</td>
                                <td class="text-center">@data.MalariaStatus</td>
                                <td class="text-center">@data.RapidKitNS1Status</td>
                                <td class="text-center">@data.RapidKitIGMStatus</td>
                                <td class="text-center">@data.ELISANS1Status</td>
                                <td class="text-center">@data.ELISAIGMStatus</td>
                                <td class="text-center">@data.ELISAScrubTyphusStatus</td>
                                <td class="text-center">@data.ELISALeptospiraStatus</td>
                                <td class="text-center">
                                    <a href="#" onclick="editArea(@data.AreaId); return false;"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                                    <br />
                                    <a href="#" onclick="deleteArea(@data.AreaId); return false;"><i class="fa fa-trash" style="color:red;" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                                index++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#divExport").html());
            });
        });

    //$(document).ready(function () {
    //    $('#btnAddArea').click(function () {
    //        $('[name*=AreaId]').val("");
    //        $('[name*=areaname]').val("");
    //        //$('[name*=active]').prop('checked', true);
    //        $('#lblModalTitle').text('Add New Area');

    //        $('#myModal').css('display', 'block');
    //        $('#myModal').addClass('in');
    //        $('body').addClass('modal-open')
    //        $('body').append('<div class="modal-backdrop fade in"></div>');
    //    });

    //    $('#btnCloseModal').click(function () {
    //        $('#myModal').css('display', 'none');
    //        $('#myModal').removeClass('in');
    //        $('body').removeClass('modal-open')
    //        $('.modal-backdrop').remove();
    //    });

    //});
    //function editArea(id) {
    //    $.ajax({
    //        contentType: 'application/json; charset=utf-8',
    //        dataType: 'json',
    //        type: 'POST',
    //        data: '{AreaId: ' + id + ' }',
    //        url: '/Admin/GetAreaDetail',
    //        success: function (data) {
    //            if (data != null) {
    //                $('[name*=AreaId]').val(data.AreaId);
    //                $('[name*=areaname]').val(data.AreaName);
    //                //$('[name*=active]').prop('checked', data.IsActive);
    //                $('#lblModalTitle').text('Update Page');
    //            }
    //        },
    //        failure: function (response) {
    //            console.log(response);
    //        },
    //        error: function (response) {
    //            console.log(response.responseText);
    //        }
    //    });
    //    $('#myModal').css('display', 'block');
    //    $('#myModal').addClass('in');
    //    $('body').addClass('modal-open')
    //    $('body').append('<div class="modal-backdrop fade in"></div>');
    //}

</script>