@using HIMS_Web.Global;

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title - Hospital Management Information System</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/App/Common.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/Menu.css" rel="stylesheet" />
    <script src="~/Scripts/App/Global/App.js"></script>
    
    <link rel="shortcut icon" href="files/favicon.ico" type="image/vnd.microsoft.icon" />
    <!--New Bootstrep-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/styles/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="~/Scripts/lib/jquery-1.10.2.js"></script>
    <script src="~/Scripts/App/Global/Utility.js"></script>
    <style type="text/css">
    </style>
</head>
<body>
    <div class="container-fluid" style="background:#fff">
        <div class="row" style="padding:10px 0px;">
            <div class="col-sm-10 col-xs-12">

                <a href="javascript:void(0);" title="Home" rel="home">
                    <img src="~/Content/files/logo ASMC.png" class="logo_class" alt="Home">
                </a>



                <div class="logotitle">
                    Autonomous State Medical College, Firozabad<br>
                    <div class="logohtitle">ऑटोनॉमस स्टेट मेडिकल कॉलेज, फिरोजाबाद </div>
                </div>

            </div>
            <div class="col-sm-2 col-xs-12  hidesmall">
                <div style="margin-top:0.5em;margin-bottom:0.5em;margin-right:2em;" class="pull-right">
                    <a href="javascript:void(0);">
                        <img height="80px" src="~/Content/files/Uttar_Pradesh.svg.png" width="80px">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="navbar">
            <nav class="navbar nav_class navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <div class="col-sm-12 col-xs-12" style="padding: 0 30px;">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/Admin/IpdDashboard" title="Home">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Master<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="kopie"><a href="/Admin/AddArea">Create Area</a></li>
                                    <li class="kopie"><a href="/Admin/AddDepartment">Create Department</a></li>
                                    <li class="kopie"><a href="/Admin/AddTreatment">Create Treatment</a></li>
                                    <li class="kopie"><a href="/Admin/AddUser">Create User</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">IPD Details<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Admin/IPDEntry">IPD Entry Form 1</a></li>
                                    <li><a href="/Admin/IPDPatientStatus">IPD Entry Form 2</a></li>
                                    <li><a href="/Admin/IPDList">IPD List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">IPD Reports<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);">IPD Lab Report</a></li>
                                    <li><a href="javascript:void(0);">IPD Radio Diagnosis Report</a></li>
                                    <li><a href="javascript:void(0);">IPD Status Report</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                            <li class="apply_btn_cl" style="background-color: transparent;">
                                <a>
                                    <i class="fa fa-user" aria-hidden="true" style="padding-right: 6px;"></i>Welcome @UserData.Username
                                </a>
                            </li>
                            <li class="apply_btn_cl" style="background: #1b5d95;"><a href="/Login/Logout" title="Logout"><i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Logout</a></li>

                        </ul>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
        <div style="min-height:400px">
            @RenderBody()
        </div>
        <div class="container-fluid" style=" background: #082b49 !important; padding-top:20px; text-align:center;">
            <div class="row">
                <div class="container">

                    <div class="col-xs-12 text-center">
                        <address style="font-size:1em; line-height:20px; color:#fff;">
                            @*Copyright © Gorakhpur Industrial Development Authority,(GIDA) || All rights reserved.<br />*@
                            Powered by Autonomous State Medical College, Firozabad &copy; @DateTime.Now.Year - HIMS Portal || Total Number of visitors: @ApplicationInstance.Application["Totaluser"]
                        </address>
                    </div>
                </div>
            </div>
        </div>

    }

    <script src="~/Content/js/carousel.html"></script>
    <script>
        // Comment ... //
        $(document).ready(function () {
            $('#myCarousel-2').carousel({
                interval: 4000
            });
        });
    </script>
    <script type='text/javascript' src='~/Content/cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js'></script>
    <script>
        /**
     * Example of starting a plugin with options.
     * I am just passing some of the options in the following example.
     * you can also start the plugin using $('.marquee').marquee(); with defaults
*/
        $('.marquee').marquee({
            //speed in milliseconds of the marquee
            duration: 15000,
            //gap in pixels between the tickers
            gap: 50,
            //time in milliseconds before the marquee will start animating
            delayBeforeStart: 0,
            //'left' or 'right'
            direction: 'left',
            //true or false - should the marquee be duplicated to show an effect of continues flow
            duplicated: false,
            pauseOnHover: true,
            allowCss3Support: true
        });
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        $(function () {
            $("#ticker a").each(function (i) {
                len = $(this).text().length;
                if (len > 40) {
                    $(this).text($(this).text().substr(0, 40) + '...');
                }
            });
        });
    </script>
    <script type="text/javascript" src="#"></script>

    @if (TempData["Alert_Title"] != null)
    {
        <div id="dialog" title="@TempData["Alert_Title"].ToString()">
            @if (TempData["Alert_Message"] != null)
            {
                <p>@TempData["Alert_Message"].ToString()</p>
            }
            else
            {
                <p>Success..!</p>
            }
        </div>
    }
    @*Alert*@
    <div id="alertModel" style="display:none;" title="">
        <p></p>
    </div>

    <script src="~/Scripts/lib/jquery-ui.js"></script>
    <link href="~/styles/jquery-ui.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ajaxError(function (xhr, props) {
            if (props.status === 401) {
                window.location.href = '@Url.Action("Login", "AdminLogin")';
            }
        });
    </script>
</body>
</html>
